* {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 0;
    padding: 0;

    background-color: #ebf5ff;

    scroll-behavior: smooth;
    scrollbar-width: auto;

    text-align: center;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

body{
    max-width: 1920px;
}

a {
    text-decoration: none;
    color: #567ee3;
    cursor: pointer;
}

a:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}


.flexC {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexR {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.P_8{
    padding: 8px;
}

@media (min-width : 1750px) {
    html{
        margin: auto;
    }
}